{% extends "base.html" %}

{% block title %}
Article
{% endblock %}

{% block content %}
<br>
  <h1> Article </h1>
  <hr>

  <div class="container" style="margin-top: 20px;">
    <div class="card-group">
      <div class="card">
        <div class="card-header">Medpark Hospital</div>
        <div class="card-body">
          <h4 class="card-title">Body Mass Index</h4>
          <h6 class="card-subtitle mb-2 text-muted">BMI</h6>
          <div align="right">
            <a href="https://www.medparkhospital.com/lifestyles/body-mass-index" class="btn btn-primary">adjunct</a>
          </div>
        </div>
        <div align="right" class="card-footer">พญ. มัทนา ภาติยะศิขัณฑ์</div>
      </div>

      <div class="card">
        <div class="card-header">Nutrition Today</div>
        <div class="card-body">
          <h4 class="card-title">Body Mass Index</h4>
          <h6 class="card-subtitle mb-2 text-muted">BMI</h6>
          <div align="right">
            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4890841/" class="btn btn-primary">adjunct</a>
          </div>
        </div>
        <div align="right" class="card-footer">Frank Q. Nuttall, MD, PhD</div>
      </div>
    </div>
    </div>
  </div>
{% endblock %}
