{% extends "base.html" %} {% block title %}BMI{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="../static/style/page.css">
<style>
    .btn-equal-width {
        width: 150px;  
    }
</style>
    <br><br><br>

    <div  id='container' align="center">
        <br><h1>BMI Calculator</h1><br><hr>

        <div class="container my-2">
            <form method="POST">
                {{form.hidden_tag()}}
    
                {{form.height.label}}<br>
                {{form.height()}} <br> <br>

                {{form.weight.label}}<br>
                {{form.weight()}} <br><br>

                {{ form.submit(class="btn btn-primary btn-equal-width") }}
            {{ form.save_submit(class="btn btn-primary btn-equal-width") }}
            </form>
        </div>
        {% if height %}
            <h4><strong>Result</strong></h4>
            <strong>Height :</strong> {{height}} <br>
            <strong>Weight :</strong> {{weight}} <br>
            <strong>BMI :</strong> {{bmi}} <br>

            {% if Categories == 'obese'  %}
                <strong>BMI Categories :</strong> <a href="/obese">Obese</a>
            {% elif Categories == 'overweight'  %}
                <strong>BMI Categories :</strong> <a href="/overweight">Overweight</a>
            {% elif Categories == 'normal'  %}
                <strong>BMI Categories :</strong> <a href="/normal">Normal</a>
            {% elif Categories == 'underweight'  %}
                <strong>BMI Categories :</strong> <a href="/underweight">Underweight</a>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
    
{% endblock %}

