{% extends "base.html" %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<br>
  <h1> Categories </h1>
  <hr>

  <div class="container" style="margin-top: 20px;">
    <div class="card-group bg-light-blue">

      <div class="card">
        <div class="card-header">BMI Categories</div>
        <div class="card-body">
          <h4 class="card-title">Underweight</h4>
          <h6 class="card-subtitle mb-2 text-muted">BMI < 18.5</h6>
          <a href="/underweight" class="btn btn-primary">adjunct</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">BMI Categories</div>
        <div class="card-body">
          <h4 class="card-title">Normal</h4>
          <h6 class="card-subtitle mb-2 text-muted">BMI 18.5 - 24.9</h6>
          <a href="/normal" class="btn btn-primary">adjunct</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header">BMI Categories</div>
        <div class="card-body">
          <h4 class="card-title">Overweight</h4>
          <h6 class="card-subtitle mb-2 text-muted">BMI 25 - 29.9</h6>
          <a href="/overweight" class="btn btn-primary">adjunct</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header">BMI Categories</div>
        <div class="card-body">
          <h4 class="card-title">Obese</h4>
          <h6 class="card-subtitle mb-2 text-muted">BMI > 30</h6>
          <a href="/obese" class="btn btn-primary">adjunct</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
