{% extends "base.html" %} {% block title %}Normal{% endblock %} 
{% block content%}
<!-- Include external CSS stylesheet -->
<link rel="stylesheet" type="text/css" href="../static/style/Categories.css">
<div class="container">
    <!-- Display the category title -->
    <h1>Normal</h1>
    <hr>

    <!-- Description of being Normal -->
    <h3>Description</h3>
    <p>
        Normal weight indicates a BMI between 18.5 and 24.9, reflecting a healthy state for the majority of individuals. Those with normal weight usually enjoy good health with a lower risk of various diseases. 
    </p>
    <hr>

    <!-- Common causes of being Normal -->
    <h3>Causes</h3>
    <div>
        <li>Balanced and varied food intake. </li>
        <li>Regular physical activity. </li>
    </div>
    <hr>

    <!-- Risks associated with being Normal -->
    <h3>Risks</h3>
    <div>
        <li>Lower risk of heart disease. </li>
        <li>Lower risk of stroke. </li>
        <li>Lower risk of diabetes. </li>
        <li>Lower risk of certain cancers.  </li>
        <li>Lower risk of osteoarthritis. </li>
    </div>
    <hr>

    <!-- Recommendations for addressing Normal -->
    <h3>Recommendations</h3>
    <div>
        <li>Maintain weight within the normal range. </li>
        <li>Consume a diverse and balanced diet. </li>
        <li>Engage in regular physical activity. </li>
        <li>Avoid high-fat, high-sugar, and high-sodium foods. </li>
        <li>Ensure adequate hydration and quality sleep.  </li>
    </div>
    <hr>
</div>
{% endblock %}
