{% extends "base.html" %} {% block title %}Obese{% endblock %} 
{% block content%}
<!-- Include external CSS stylesheet -->
<link rel="stylesheet" type="text/css" href="../static/style/Categories.css">
<div class="container">
    <!-- Display the category title -->
    <h1>Obese</h1>
    <hr>

    <!-- Description of being Obese -->
    <h3>Description</h3>
    <p>
        BMI exceeding 30 indicates obesity, which significantly elevates the risk of developing various health conditions.
    <hr>

    <!-- Common causes of being Obese -->
    <h3>Causes</h3>
    <div>
        <li>Poor dietary habits. </li>
        <li>Lack of physical activity. </li>
        <li>Sedentary lifestyle. </li>
    </div>
    <hr>

    <!-- Risks associated with being Obese -->
    <h3>Risks</h3>
    <div>
        <li>High risk of heart disease. </li>
        <li>High risk of diabetes. </li>
        <li>High risk of stroke. </li>
        <li>High risk of certain cancers. </li>
    </div>
    <hr>

    <!-- Recommendations for addressing Obese -->
    <h3>Recommendations</h3>
    <div>
        <li>Seek professional guidance for weight reduction.</li>
        <li>Adopt a well-balanced diet.</li>
        <li>Increase physical activity. </li>
        <li>Consider medical intervention under supervision.  </li>
    </div>
    <hr>
</div>
{% endblock %}
