{% extends "base.html" %} {% block title %}Overweight{% endblock %} 
{% block content%}
<link rel="stylesheet" type="text/css" href="../static/style/Categories.css">
<div class="container">
    <h1>Overweight</h1>
    <hr>
    <h3>Description</h3>
    <p>
        Overweight individuals have a BMI between 25 and 29.9, indicating excess body weight and an increased risk of various health problems. 
    <hr>
    <h3>Causes</h3>
    <div>
        <li>Consuming more calories than needed. </li>
        <li>Insufficient physical activity. </li>
    </div>
    <hr>
    <h3>Risks</h3>
    <div>
        <li>Increased risk of heart disease. </li>
        <li>Increased risk of diabetes. </li>
        <li>Increased risk of stroke. </li>
        <li>Increased risk of certain cancers. </li>
    </div>
    <hr>
    <h3>Recommendations</h3>
    <div>
        <li>Aim for gradual weight loss. </li>
        <li>Adjust dietary habits. </li>
        <li>Increase physical activity. </li>
    </div>
    <hr>
</div>
{% endblock %}
