{% extends "base.html" %}
{% block title %}
    Underweight
{% endblock %}

{% block content %}
<!-- Include external CSS stylesheet -->
<link rel="stylesheet" type="text/css" href="../static/style/Categories.css">
<div class="container">
    <!-- Display the category title -->
    <h1>Underweight</h1>
    <hr>

    <!-- Description of being underweight -->
    <h3>Description</h3>
    <p>
        Being underweight means having a body weight below the standard threshold, with a BMI less than 18.5. Individuals in this category often have low muscle mass, small bones, and a slender appearance. Underweight can result from insufficient food intake, excessive physical activity, or certain health conditions such as thyroid toxicity or genetic factors.
    </p>
    <hr>

    <!-- Common causes of being underweight -->
    <h3>Causes</h3>
    <div>
        <li>Inadequate food intake.</li>
        <li>Excessive physical activity.</li>
        <li>Genetic factors.</li>
        <li>Certain health conditions like thyroid toxicity or genetic predisposition.</li>
    </div>
    <hr>

    <!-- Risks associated with being underweight -->
    <h3>Risks</h3>
    <div>
        <li>Weakness and easy fatigue.</li>
        <li>Weakened immune system.</li>
        <li>Osteoporosis.</li>
        <li>Irregular menstrual cycles.</li>
        <li>Reduced fertility.</li>
        <li>Increased risk of mortality.</li>
    </div>
    <hr>

    <!-- Recommendations for addressing underweight -->
    <h3>Recommendations</h3>
    <div>
        <li>Consume a balanced diet from all five food groups.</li>
        <li>Emphasize high-protein foods like meat, milk, eggs, and legumes.</li>
        <li>Engage in regular, moderate exercise.</li>
        <li>Consult a healthcare professional for personalized advice.</li>
    </div>
    <hr>
</div>
{% endblock %}
